
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.container{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: center;
}
/* шапка */
header{
    height: 952px;
    background-color: #BAD8E3;
    font-family: "Nunito", sans-serif;
}

.logo p{
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
}

.head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    font-family: "Nunito", sans-serif;
}
.href{
    display: flex;
    justify-content: space-around;
    width: 435px;
    font-family: "Nunito", sans-serif;
}
.href:hover{
    display: flex;
    justify-content: space-around;
    width: 435px;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
}

.entrance{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000000;

}

.button-register{
    width: 134px;
    height: 48px;
    border-radius: 6px;
    background-color:#1B213A;
    color: rgb(255, 252, 252);
    font-family: "Nunito", sans-serif;
}
.button-register:hover{
    width: 134px;
    height: 48px;
    border-radius: 6px;
    background-color:#63656d;
    color: rgb(255, 252, 252);
    font-family: "Nunito", sans-serif;
    cursor: pointer;
}
hr{
    color: #B8E0EE;
}
.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 752px;
}

.text{
    width: 888px;
}
h1{
    font-size: 80px;
}
.text p{
    width: 682px;
    font-size: 21px;
    color: #666666;
}

img{
    width: 508px;
}

.txt{
display: flex; 
}

.txt1{
    width: 221px;
}

.txt p{
    width: 60px;
    height: 3px;
    font-size: 19px;
    color: #666666;
}


.txt h2{
    font-size: 47px;
    color: white;
    height: 9px;
}



span{
    color: #2b2b2b;
}
.forma-bloc{
    background-color: #A6D2E2;
    border-radius: 10% ;
}
.bloc-see{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.bloc-see img{
   width: 100px;
   height: 100px;
}
.button-see{
    width: 155px;
    height: 50px;
    border-color: black;
    background-color: rgb(250, 250, 250);
    border-radius: 6px;

}
.button-see:hover{
    width: 155px;
    height: 50px;
    color: aliceblue;
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 6px;



}
.red-home{
    width: 362px;
    height: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.see-neigh{
    width: 362px;
    height: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

}
.buy-home{
    width: 362px;
    height: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;

}
.name-see{
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 50px;
}
.bloc-see h3{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
}
/* блок с картинкой */
.seamlessly{
    font-family: "Nunito", sans-serif;
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: space-around;
    align-items: center;
}
.seamlessly img{
    height: 300px;
    width: 300px;
}
.text-seamlessly{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.name-seamlessly{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
}
.text-ipsum{
    color: #666666    ;
}


/* блок с explore */
.bloc-img-explore{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.bloc-img-explore img{
    width: 200px;
    height: 200px;
}
.explore-popular{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-lorem{
    width: 623px;
    text-align: center;
    color: #666666    ;
}
.block-meadow-view{
    border: 1px solid rgb(177, 177, 177) ;
width: 300px;
}
.meadow-wiew{
    display: flex;
    flex-direction: column;
    height: 369px;
    justify-content: space-between;
    align-items: center;
}
.text-meadow{
    width: 80%;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(124, 124, 124);
}
.bath-text{
    color: #666666;
}